/* Add CSS here */
.body-container {
    background-color: #2e7bc1;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 500px;
    max-width: 500px;
    background-color: white;
}

.task h1 {
    color: white;
    font-size: 13px;
}

.task {
    background-color: #314a5e;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.content-1 {
    background-color: #f3f8fc;
    height: 120px;
}

.cards {
    /* background-color: blueviolet; */
    height: 60px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.card {
    padding: 13px;
    border-radius: 0.2em;
    background-color: white;
    height: 20px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.card h2 {
    font-size: 8px;
}

.cards-2 {
    display: flex;
    gap: 5px;
}

select {
    font-size: 10px;
}

.loader {
    /* background-color: chartreuse; */
    height: 100px;
    padding: 10px;
}



.loading {
    position: absolute;
    left: 45%;
    display: flex;
    gap: 10px;
    margin-left: 50px;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 10px;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    margin-left: 10px;
}

.percent {
    color: black;
    font-size: 10px;
    font-weight: 800;
    text-align: center;
    /* margin-bottom: 10px; */
}

.text-blink {
    animation: blink .7s ease-in-out .1s;
}

.text {
    position: absolute;
    left: 160px;
    color: white;
    font-size: 7px;
    letter-spacing: 1px;
    display: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 2;
    }

    100% {
        opacity: 1;
    }
}

.progress-bar {
    min-width: 400px;
    height: 10px;
    background-color: #cfeafb;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.progress {
    width: 200px;
    height: 10px;
    background-color: #69c0f5;
    border-radius: 0.5em;
}

.container-2 {
    /* background-color: chartreuse; */
    height: 331px;
    display: flex;
}

.auction-1 {
    /* background-color: cornflowerblue; */
    height: 331px;
    width: 50%;
    padding: 10px;
}

.auction-1 h3 {
    font-size: 10px;
}

.auction-1 h4 {
    font-size: 10px;
    margin-top: 20px;
}

.closet {
    height: 25px;
    width: 100%;
    border-width: 2px;
    border-color: rgb(228, 224, 224);
    padding: 2.5px;
}

.closet h2 {
    font-size: 8px;
}

.closet-1 h2 {
    font-size: 8px;
}

.closet-1 {
    height: 150px;
    padding: 2.5px;
    width: 100%;
    border-width: 2px;
    border-color:rgb(228, 224, 224);
}

.auction-2 {
    /* background-color: darkgoldenrod; */
    height: 331px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.auction-2 h4 {
font-size:10px;
}

.capcher {
    /* background-color: blue; */
    height: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 6px;
}

.image-container {
    height: 35px;
    width: 35px;
    background-color: white;
    object-fit: cover;
    border-width:2px;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.capcher-1 {
    /* background-color: blue; */
    height: 132px;
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    gap: 5px;
    padding: 6px;
}

.img-1 {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 5em;
}
.img-2 {
    height: 40px;
    width: 60px;
    object-fit: cover;
}
.image-container-3 {
    height: 35px;
    width: 35px;
    background-color:white;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width:2px;
}
.auction-3 {
    /* background-color:blueviolet; */
    height: 160px;
    width: 100%;
    padding: 10px;
}

.auction-3 h4 {
    font-size: 10px;
}

.save-btn{
font-size:12px;
width: 60px;
height: 20px;
display: flex;
cursor: pointer;
border-radius: 0.3em;
background-color:#717fff;
align-items: center;
color:white;
margin-top: 50px;
margin-left:170px;
justify-content: center;
transition: 0.2s;
}
.loaderr {
pointer-events: none;
width: 10px;
height: 10px;
border-radius: 25em;
border: 2px solid transparent;
border-top-color: white;
animation: an1 1s ease infinite;
}

@keyframes an1 {
0% {
    transform: rotate(0turn);
}
100% {
    transform: rotate(1turn);
}
}





@media screen and (max-width:600px) {
.body-container {
        background-color: #2e7bc1;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        height: 500px;
        width: 100%;
        background-color: white;
    }

    .task h1 {
        color: white;
        font-size: 10px;
    }

    .task {
        background-color: #314a5e;
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }

    .content-1 {
        background-color: #f3f8fc;
        height: 120px;
    }

    .cards {
        /* background-color: blueviolet; */
        height: 60px;
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }

    .card {
        padding: 1px;
        border-radius: 0.2em;
        background-color: white;
        height: 20px;
        display: flex;
        gap: 9px;
        align-items: center;
        justify-content: center;
    }

    .card h2 {
        font-size: 8px;
    }

    .cards-2 {
        display: flex;
        gap: 5px;
    }

    select {
        font-size: 10px;
    }

    .loader {
        /* background-color: chartreuse; */
        height: 100px;
        padding: 10px;
    }



    .loading {
        position: absolute;
        left: 35%;
        display: flex;
        gap: 10px;
        margin-left: 20px;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 10px;
        display: flex;
        padding-bottom: 10px;
        align-items: center;
        margin-left: -5px;
    }

    .percent {
        color: black;
        font-size: 10px;
        font-weight: 800;
        text-align: center;
        /* margin-bottom: 10px; */
    }

    .text-blink {
        animation: blink .7s ease-in-out .1s;
    }

    .text {
        position: absolute;
        left: 160px;
        color: white;
        font-size: 7px;
        letter-spacing: 1px;
        display: none;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 2;
        }

        100% {
            opacity: 1;
        }
    }

    .progress-bar {
        width: 400px;
        height: 10px;
        background-color: #cfeafb;
        border-radius: 0.5em;
        box-sizing: border-box;
    }

    .progress {
        width: 200px;
        height: 10px;
        background-color: #69c0f5;
        border-radius: 0.5em;
    }

    .container-2 {
        /* background-color: chartreuse; */
        height: 331px;
        display: flex;
    }

    .auction-1 {
        /* background-color: cornflowerblue; */
        height: 331px;
        width: 50%;
        padding: 3px;
    }

    .auction-1 h3 {
        font-size: 10px;
    }

    .auction-1 h4 {
        font-size: 10px;
        margin-top: 20px;
    }

    .closet {
        height: 25px;
        width: 100%;
        border-width: 2px;
        border-color: rgb(228, 224, 224);
        padding: 2.5px;
    }

    .closet h2 {
        font-size: 8px;
    }

    .closet-1 h2 {
        font-size: 8px;
    }

    .closet-1 {
        height: 150px;
        padding: 2.5px;
        width: 100%;
        border-width: 2px;
        border-color: rgb(228, 224, 224);
    }

    .auction-2 {
        /* background-color: darkgoldenrod; */
        height: 331px;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .auction-2 h4 {
        font-size: 10px;
    }

    .capcher {
        /* background-color: blue; */
        height: 50px;
        width: 100%;
        display: flex;
        gap: 10px;
        padding: 6px;
    }

    .image-container {
        height: 35px;
        width: 35px;
        background-color: white;
        object-fit: cover;
        border-width: 2px;
        border-radius: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .capcher-1 {
        /* background-color: blue; */
        height: 132px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto ;
        gap: 5px;
        padding: 6px;
    }

    .img-1 {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 5em;
    }

    .img-2 {
        height: 40px;
        width: 60px;
        object-fit: cover;
    }

    .image-container-3 {
        height: 35px;
        width: 35px;
        background-color: white;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 2px;
    }

    .auction-3 {
        /* background-color:blueviolet; */
        height: 160px;
        width: 100%;
        padding: 10px;
    }

    .auction-3 h4 {
        font-size: 10px;
    }

    .save-btn {
        font-size: 12px;
        width: 60px;
        height: 20px;
        display: flex;
        cursor: pointer;
        border-radius: 0.3em;
        background-color: #717fff;
        align-items: center;
        color: white;
        margin-top: 50px;
        margin-left: 120px;
        justify-content: center;
        transition: 0.2s;
    }

    .loaderr {
        pointer-events: none;
        width: 10px;
        height: 10px;
        border-radius: 25em;
        border: 2px solid transparent;
        border-top-color: white;
        animation: an1 1s ease infinite;
    }

    @keyframes an1 {
        0% {
            transform: rotate(0turn);
        }

        100% {
            transform: rotate(1turn);
        }
    }
}